html
  head
    meta(name='viewport', content='width=device-width')
    link(rel='stylesheet', href='/style/main.css')
  body
    video(name='media' controls autoplay loop)
      source(src='#{src}', type='video/mp4')

